

* {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
   
  }
}

#body{
  background-color: rgb(225, 201, 255);
  width: 75%;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

#content{
  background-image: url('./images/netherportal.jpg');
}
 
#header{
  background-image: url('./images/dirtblock.png');
  background-size: 310px;
  background-repeat: repeat-x;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 0;
  width: 100vw;
}

#appName{
  color: white;
  text-shadow: 1px 1px 2px blueviolet;
}

ul{
  list-style: none;
}

#realmsListItems{
  padding-bottom: 25px;
}
